In [1]:
import os #import os to perform some standard operating system operations like; changing working directory
import pandas as pd # import pandas to perform data manupulation actions
import numpy as np #import numpy to perform numerical pyhton operations
import matplotlib.pyplot as plt #import matplotlin to perform visualization operations
%matplotlib inline

In [2]:
os.chdir("E:\\001 Jigsaw Academy\JIGSAW\\Capstone Project\\Capston Project 2") #change the current working directory

In [3]:
data=pd.read_csv("prods.csv") #read the csv file which contains the data files from which we have to take data.

In [4]:
data.head() #take a look at the first five values of the csv file.

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [5]:
import sklearn.feature_extraction.text as text #import text module from sklear feature extraction to perform the actions on 
#text data to make the text data into numeric vector form

In [6]:
tf=text.TfidfVectorizer(data['product_name'].tolist(),stop_words='english') #here we are using TfidfVectorizer instead of
#countVectorizer since countvecotorizer does not takes the word importance into the account it assigns the same weightage
#to each and every word. and by using the stop words we are ignoring the most commonly used words in english like; to, the 
#hence, a, an etc and also Tfidfvatorizer accepts the text data as in the form of list so we are passing a list.
matrix=tf.fit_transform(data['product_name'].tolist()) #here we are fitting the text data by using fit_transform.

In [7]:
pd.DataFrame(matrix.toarray(),columns=tf.get_feature_names()).head() #if want to see what kind of colums TfidfVectorizer has
#created then use this otherwise ignore.

,000,000mcg,013021,10,100,1000,1000mg,118,12,13,...,yogurt,yokids,yukon,yummy,zero,zesty,zfruit,zipper,zita,ziti
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
from sklearn.metrics.pairwise import cosine_similarity #in the created vecotor to find out how much two rows are similar we
#use the cosine similarity.

In [9]:
sim_unigram=cosine_similarity(matrix) #this will create the cosine similarity for each of the row with respect to other 
#row, then if we want to filter out the number of similar items we can pass the value how many similar items we want to find
#out and can find out easily.

In [10]:
def get_similar_items(x):
    return ",".join(data['product_name'].loc[x.argsort()[-5:-1]]) #getting top 5 similar values using the sim_unigram matrix
#which has the similarity matrix for the product_name.
data['Suggested_Products']=[get_similar_items(x) for x in sim_unigram] #use to create the new based based in the given 
#condition in the function.

In [11]:
data.head()

,product_id,product_name,aisle_id,department_id,Suggested_Products
0,1,Chocolate Sandwich Cookies,61,19,Oreo Cookies and Cream Chocolate Frozen Dairy ...
1,2,All-Seasons Salt,104,13,"Thin Stackers Brown Rice Salt Free,Sardines i..."
2,3,Robust Golden Unsweetened Oolong Tea,94,7,Almond Breeze Unsweetened Almond Coconut Milk ...
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,"Classic coke,Ice Cream, Cookies & Cream,Mini D..."
4,5,Green Chile Anytime Sauce,5,13,"Petite Green Peas,Caramel Sauce,Apple Green Cu..."

In [15]:
data['product_id']=data['product_id'].map(lambda x: str(x)) #make the product_id columns in string format as we have to
#filter out the top 5 items for each row with the help of cosine similarity
def get_sim_pi(x):
      return ",".join(data['product_id'].loc[x.argsort()[-5:-1]])    
data['suggested_pro_ids']=[get_sim_pi(x) for x in sim_unigram] #use to create the new based based in the given 
#condition in the function.

In [16]:
data.head()

,product_id,product_name,aisle_id,department_id,Suggested_Products,suggested_pro_ids
0,1,Chocolate Sandwich Cookies,61,19,Oreo Cookies and Cream Chocolate Frozen Dairy ...,"591,576,172,559"
1,2,All-Seasons Salt,104,13,"Thin Stackers Brown Rice Salt Free,Sardines i...","273,425,463,240"
2,3,Robust Golden Unsweetened Oolong Tea,94,7,Almond Breeze Unsweetened Almond Coconut Milk ...,"738,862,560,569"
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,"Classic coke,Ice Cream, Cookies & Cream,Mini D...","649,431,997,774"
4,5,Green Chile Anytime Sauce,5,13,"Petite Green Peas,Caramel Sauce,Apple Green Cu...","969,275,846,851"

In [17]:
data['department_id']=data['department_id'].map(lambda x: str(x)) #make the product_id columns in string format as we have to
#filter out the top 5 items for each row with the help of cosine similarity
def get_sim_products(x):
    return ",".join(data['department_id'].loc[x.argsort()[-5:-1]])
data['suggested_dept_ids']=[get_sim_products(x) for x in sim_unigram] #use to create the new based based in the given 
#condition in the function.

In [18]:
data.head()

,product_id,product_name,aisle_id,department_id,Suggested_Products,suggested_pro_ids,suggested_dept_ids
0,1,Chocolate Sandwich Cookies,61,19,Oreo Cookies and Cream Chocolate Frozen Dairy ...,"591,576,172,559","1,19,19,19"
1,2,All-Seasons Salt,104,13,"Thin Stackers Brown Rice Salt Free,Sardines i...","273,425,463,240","19,6,13,13"
2,3,Robust Golden Unsweetened Oolong Tea,94,7,Almond Breeze Unsweetened Almond Coconut Milk ...,"738,862,560,569","16,16,7,19"
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,"Classic coke,Ice Cream, Cookies & Cream,Mini D...","649,431,997,774","7,1,1,9"
4,5,Green Chile Anytime Sauce,5,13,"Petite Green Peas,Caramel Sauce,Apple Green Cu...","969,275,846,851","1,19,17,19"

In [20]:
data.to_csv("final_submission.csv")